 html, body{ height:100%; margin:0; }
header{ height:50px;}
footer{ height:75px; background:black; }

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  padding:10px;
  margin-top:auto;
  margin-bottom: auto; 
}
